body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#carousel{
  max-height: 400px;
}
.carousel .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or contain, depending on your requirement */
}

.carousel-inner{
   width:640px;
   height:100%;
 }

 .change{
  object-fit: fill;
  height:1000px;
 }